* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

.uppercase {
  text-transform: uppercase;
}

.wrap-prodotti {
  background-image: url("../images/sfondo-pag-prodotti.jpg");
}

.container {
  width: 1170px;
  margin: auto;
}

.dettaglio-prodotto {
  background-color: #b8dae4;
}
.dettaglio-prodotto h1 {
  text-align: center;
  padding-top: 15px;
  color: #001942;
  position: relative;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
.dettaglio-prodotto img {
  display: block;
  width: 100%;
}

.wrapper-dettagli {
  background-color: #b8dae4;
  width: 100%;
}

.descrizione {
  padding-top: 20px;
}
.descrizione p {
  line-height: 1.4;
  padding-bottom: 20px;
  color: #002d73;
  background-color: #b8dae4;
  padding-top: 15px;
  font-size: 24px;
}
.descrizione img {
  width: 100%;
  display: block;
}

.logo-la-molisana {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.lista-header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.lista-header li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lista-header li a {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #001942;
}
.lista-header li a:hover {
  background-color: #b3e5fc;
}

.active {
  background-color: #b3e5fc;
}

.descrizione-prodotti {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.descrizione-prodotti h1 {
  text-transform: uppercase;
  color: #002d73;
}
.descrizione-prodotti .card {
  width: calc(100% / 3);
  position: relative;
}
.descrizione-prodotti .card img {
  padding: 5px;
  width: 100%;
}
.descrizione-prodotti .card .hover-effect {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.descrizione-prodotti .card .hover-effect a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}
.descrizione-prodotti .card:hover .hover-effect {
  display: block;
  background-color: rgba(244, 244, 244, 0.6);
}

.card-tipo {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.dettaglio-griglia {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  color: #002d73;
  border-collapse: collapse;
  background-color: #b8dae4;
}

.text-size {
  font-size: 40px;
  font-family: "Teko", sans-serif;
  font-weight: 200;
}

th {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 20px 20px 5px 20px;
  line-height: 1;
}

.border-none {
  border-left: none;
}

#freccia_destra, #freccia_sinistra {
  visibility: visible;
  position: fixed;
  top: 38%;
  background-color: #dfdfdf;
  background-color: rgba(0, 0, 0, 0.3);
  width: 65px;
  height: 130px;
}
#freccia_destra i, #freccia_sinistra i {
  position: absolute;
  top: 45%;
  left: 30%;
}

#freccia_sinistra {
  right: 0;
}

#freccia_destra {
  left: 0;
}

#foto_prev, #foto_next {
  visibility: hidden;
}
#foto_prev img, #foto_next img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#foto_prev {
  position: fixed;
  top: 38%;
  left: 0;
  width: 250px;
  height: 125px;
  background-color: #000000c2;
  transition: 2s;
}
#foto_prev img {
  position: absolute;
  left: 0;
}

#titolo_prev {
  position: fixed;
  top: 55%;
  left: 0;
  width: 250px;
  height: 60px;
  background-color: white;
}
#titolo_prev p {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  top: 30%;
  right: 10%;
  position: absolute;
}

#foto_next {
  position: fixed;
  top: 38%;
  right: 0;
  width: 250px;
  height: 125px;
  background-color: #000000c2;
  transition: 2s;
}
#foto_next img {
  position: absolute;
  right: 0;
}

#titolo_next {
  position: fixed;
  top: 55%;
  right: 0;
  width: 250px;
  height: 60px;
  background-color: white;
}
#titolo_next p {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  top: 30%;
  left: 10%;
  position: absolute;
}

.footer-container {
  display: flex;
  color: #bab8b8;
  background-image: url("../images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 150px;
}
.footer-container img {
  display: block;
}

.info-azienda, .pastificio, .collezioni {
  width: 100%;
  padding-top: 30px;
}

.pastificio h3, .collezioni h3 {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #0d2240;
}
.pastificio ul li, .collezioni ul li {
  list-style-type: none;
}
.pastificio ul li a, .collezioni ul li a {
  text-decoration: none;
  color: #bab8b8;
  line-height: 1.5;
  font-size: 16px;
}