*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.wrap-prodotti{
    // background-color: $background-content;
    background-image: $sfondo-pag-prodotti;
}

.container{
    width: 1170px;
    margin:auto;
}

.dettaglio-prodotto {
    h1{
        text-align: center;
        padding-top: 30px;
    }
    img{
        display:block;
        width: 100%;
        }
    }

.wrapper-dettagli{
    background-color: #b8dae4;
}

.descrizione {
    p{
        line-height: 1.4;
    }
}
