*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

@mixin flex-base{
    display: flex;
    flex-wrap: wrap;
}

body{
    font-family: $body_font;
}

.uppercase{
    text-transform: uppercase;
}

.wrap-prodotti{
    // background-color: $background-content;
    background-image: $sfondo-pag-prodotti;
}

.container{
    width: 1170px;
    margin:auto;
}

.dettaglio-prodotto {
        background-color: #b8dae4;
    h1{
        text-align: center;
        padding-top: 15px;
        color:#001942;
        position: relative;
        border-bottom: 1px solid white;
        padding-bottom: 15px;
        font-size:20px;
        text-transform: uppercase;
    }
    img{
        display:block;
        width: 100%;
        }
    }

.wrapper-dettagli{
    background-color: #b8dae4;
    width: 100%;
}

.descrizione {
    padding-top:20px;

    p{
        line-height: 1.4;
        padding-bottom: 20px;
        color: $testo_prodotto;
        background-color: #b8dae4;
        padding-top: 15px;
        font-size: 24px;
    }

    img{
            width: 100%;
            display:block;
    }
}
