.descrizione-prodotti{
    @include flex-base;
    padding-top: 50px;
        h1{
            text-transform: uppercase;
            color: $testo_prodotto;
        }


.card{
    width: calc(100% / 3);
    position: relative;

        img{
        padding: 5px;
        width: 100%;
    }


.hover-effect {
    display:none;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;

        a{
            text-decoration: none;
            display:flex;
            justify-content: center;
            align-items: center;
            color:black;
            width: 100%;
            height: 100%;

        }
    }

            &:hover .hover-effect {
                display:block;
                background-color: rgb(244, 244, 244,0.6);

        }
    }
}

.card-tipo{
    @include flex-base;
    padding-bottom: 15px;
}
