.logo-la-molisana{
    @include flex-center;
}

.lista-header{
    @include flex-center;
    list-style-type: none;
    padding-top:20px;


    li{
        display: inline-block;

        a{
            text-decoration: none;
            padding:5px;
            font-size:18px;
            font-weight: bold;
            color:$header-color;
            line-height: 1.5;

            &:hover{
                background-color: $header-color-hover;

            }
        }
    }
}

.active {
    background-color: $header-color-hover;

}
