$header-color:#001942;
$header-color-hover:#b3e5fc;
$background-content:rgb(210, 225, 230);
$sfondo-pag-prodotti: url("../images/sfondo-pag-prodotti.jpg");
$footer_color:#bab8b8;
$testo_prodotto:#0f3d87;
